.book {
  background: #222;
  color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.btn {
  padding: 1rem;
  margin: 1rem;
  display: block;
}

.btn.btn-primary {
  background: purple;
  color: #fff;
}
